{% extends "base.html" %}
{% load static %}
  {% block content %}

  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  <h1 style="margin-top: 10%; color: purple; text-align: center; margin-bottom: 2%;">Know your Nutritional Health Status</h1>
<div style="font-size: large; " class="p-4 m-2 rounded shadow">
    <h1>Instructions to ensure accurate responses and understanding of the purpose of the assessment:</h1>
    <hr>
<ol style="font-size: medium; color: violet;"><li> The survey aims to assess nutritional status and identify individuals who may be at risk of malnutrition. </li>
<li>All the items must be completed. </li>
<li> The responses will remain confidential and will only be used for research or assessment purposes. 
    </li>
<li>Your participation is voluntary, and participants have the right to withdraw at any time without consequence.. </li></ol>

<form action="" method="POST">

    <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse; margin: 2%;" bordercolor="#111111" width="95%" id="AutoNumber1">
      <tr>
        <td width="59%"><b><font face="arial">1.Have you experienced unexplained weight loss recently? </font></b><font face="arial"> 
        <br>  <input type="radio" value="0" name="one" onclick="calculatescore(this.form)">
        As much as I always could <br>
        <input type="radio"  value="1" name="one" onclick="calculatescore(this.form)">
        Not quite so much now <br>
         <input type="radio"  value="2" name="one" onclick="calculatescore(this.form)">
        Definitely not so much now <br>
         <input type="radio"  value="3" name="one" onclick="calculatescore(this.form)">
        Not at all<br>
    &nbsp;</td>
      </tr>
      <tr>
        <td width="59%"><font face="arial"><b>2. Do you frequently feel weak or fatigued, even with adequate rest?</b><br>
        <input type="radio" value="0" name="two" onclick="calculatescore(this.form)">
        
        As much 
        as I ever did <br>
            <input type="radio" value="1" name="two" onclick="calculatescore(this.form)">
        Rather less than I used to <br>
            <input type="radio" value="2" name="two" onclick="calculatescore(this.form)">
        Definitely less than I used to <br>
            <input type="radio" value="3" name="two" onclick="calculatescore(this.form)">
        Hardly at all <br>
    &nbsp;</td>
      </tr>
      <tr>
        <td width="59%"><font face="arial"><b>3. Have you noticed any changes in your nails, such as brittleness or ridges? </b> 
        
        <br><input type="radio" value="3" name="three" onclick="calculatescore(this.form)">
        Yes, most of the time <br>
        <input type="radio" value="2" name="three" onclick="calculatescore(this.form)">
        Yes, some of the time <br>
        <input type="radio" value="1" name="three" onclick="calculatescore(this.form)">
        Not very often <br>
        <input type="radio" value="0" name="three" onclick="calculatescore(this.form)">
        No, never<br>
    &nbsp;<p>
        </td>
      </tr>
      <tr>
        <td width="59%"><font face="arial"><b>4.Have you experienced swelling in your extremities (such as hands, feet, or ankles)?</b><br>
        <input type="radio" value="0" name="four" onclick="calculatescore(this.form)">
        No, not at all <br>
        <input type="radio" value="1" name="four" onclick="calculatescore(this.form)">
        Hardly ever <br>
        <input type="radio" value="2" name="four" onclick="calculatescore(this.form)">
        Yes, sometimes <br>
        <input type="radio" value="3" name="four" onclick="calculatescore(this.form)">
        Yes, very often <br>
    &nbsp;</td>
      </tr>
      <tr>
        <td width="59%"><font face="arial"><b>5. Do you often feel dizzy or lightheaded, especially when standing up?
        </b> <br>
        <input type="radio" value="3" name="five" onclick="calculatescore(this.form)">
        Yes, quite a lot <br>
        <input type="radio" value="2" name="five" onclick="calculatescore(this.form)">
        Yes, sometimes <br>
        <input type="radio" value="1" name="five" onclick="calculatescore(this.form)">
        No, not much <br>
        <input type="radio" value="0" name="five" onclick="calculatescore(this.form)">
        No, not at all <br>
    &nbsp;</td>
      </tr>
      <tr>
        <td width="59%"><font face="arial"><b>6. Have you noticed any changes in your appetite, 
            such as decreased hunger or increased cravings?
        </b> <br>
         <input type="radio" value="3" name="six" onclick="calculatescore(this.form)">
        Yes, most of the time I haven't been able to cope at all. <br>
         <input type="radio" value="2" name="six" onclick="calculatescore(this.form)">
        Yes, sometimes I haven't been coping as well as usual <br>
         <input type="radio" value="1" name="six" onclick="calculatescore(this.form)">
        No, most of the time I have coped quite well.<br>
         <input type="radio" value="0" name="six" onclick="calculatescore(this.form)">
        No, I have been coping as well as ever.<br>
    &nbsp;</td>
      </tr>
      <tr>
        <td width="59%"><font face="arial"><b>7. Do you often experience gastrointestinal 
            symptoms such as bloating, gas, constipation, or diarrhea? </b> <br>
          <input type="radio" value="3" name="seven" onclick="calculatescore(this.form)">
        Yes, most of the time <br>
          <input type="radio" value="2" name="seven" onclick="calculatescore(this.form)">
        Yes, sometimes <br>
          <input type="radio" value="1" name="seven" onclick="calculatescore(this.form)">
        Not very often <br>
          <input type="radio" value="0" name="seven" onclick="calculatescore(this.form)">
        No, not at all<br>
    &nbsp;</td>
      </tr>
      <tr>
        <td width="59%"><font face="arial"><b>8. Have you been diagnosed with any nutrient 
            deficiencies (e.g., vitamin D deficiency, iron deficiency anemia)? </b> <br>
          <input type="radio" value="3" name="eight" onclick="calculatescore(this.form)">
        Yes, most of the time <br>
          <input type="radio" value="2" name="eight" onclick="calculatescore(this.form)">
        Yes, quite often <br>
          <input type="radio" value="1" name="eight" onclick="calculatescore(this.form)">
        Not very often <br>
          <input type="radio" value="0" name="eight" onclick="calculatescore(this.form)">
        No, not at all <br>
    &nbsp;</td>
      </tr>
      <tr>
        <td width="59%"><font face="arial"><b>9. Do you experience frequent bone pain or fractures?</b><br>
          <input type="radio" value="3" name="nine" onclick="calculatescore(this.form)">
        Yes, most of the time <br>
          <input type="radio" value="2" name="nine" onclick="calculatescore(this.form)">
        Yes, quite often <br>
          <input type="radio" value="1" name="nine" onclick="calculatescore(this.form)">
        Only occasionally <br>
          <input type="radio" value="0" name="nine" onclick="calculatescore(this.form)">
        No, never<br>
    &nbsp;</td>
      </tr>
      <tr>
        <td width="59%"><font face="arial"><b>10. Have you been diagnosed with any chronic 
            health conditions that may affect your nutritional status?
        </b> <br>
         <input type="radio" value="3" name="ten" onclick="calculatescore(this.form)">
        Yes, quite often <br>
         <input type="radio" value="2" name="ten" onclick="calculatescore(this.form)">
        Sometimes <br>
         <input type="radio" value="1" name="ten" onclick="calculatescore(this.form)">
        Hardly ever <br>
         <input type="radio" value="0" name="ten" onclick="calculatescore(this.form)">
        Never</td>
      </tr>
     
     
     
    </table>
    <input type="submit" class="btn-lg btn-secondary" name="Submit Test">

    </form>
    
    <p style="margin: 20px; color: red;">*These questions are just for preliminary checkups.</p>
</div>
{% endblock content %}